@model Depot.Models.Name

@{
    ViewData["Title"] = "Details";
}

<h2>详细</h2>

<div>
    <h4>货物</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            入库时间 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt>
            货物名
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Goods)
        </dd>
        <dt>
            RFID标签编码
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoodsRFID)
        </dd>
        <dt>
            数量
        </dt>
        <dd>
            @Html.DisplayFor(model => model.number)
        </dd>
        <dt>
            出货地址
        </dt>
        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt>
            货物出售
        </dt>
        <dd>
            @Html.DisplayFor(model =>model.price)
        </dd>
        <dt>
            是否出货
        </dt>
        <dd>
            @Html.DisplayFor(model =>model.isOut)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Enrollments)</dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Git Name</th>
                    <th>Address</th>
                </tr>
                @foreach(var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Git.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                    </tr>
                }
                </table>
        </dd>
    </dl>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
